/logs
.vscode/launch.json
data/raw/data.sqlite
.ipynb_checkpoints/Untitled-checkpoint.ipynb
notebooks/lightning_logs/first_model/version_1/hparams.yaml
notebooks/lightning_logs/first_model/version_2/hparams.yaml
notebooks/lightning_logs/first_model/version_3/hparams.yaml
notebooks/lightning_logs/first_model/version_4/hparams.yaml
notebooks/lightning_logs/version_2/hparams.yaml
notebooks/lightning_logs/version_3/hparams.yaml
tensor_logs/test/events.out.tfevents.1647572749.hemanth-Aspire-A715-75G.12453.0
tensor_logs/test/events.out.tfevents.1647572831.hemanth-Aspire-A715-75G.12453.1
tensor_logs/test/events.out.tfevents.1647572922.hemanth-Aspire-A715-75G.12453.2
tensor_logs/test/events.out.tfevents.1647573618.hemanth-Aspire-A715-75G.12453.3
tensor_logs/test/events.out.tfevents.1647573641.hemanth-Aspire-A715-75G.12453.4
notebooks/.vector_cache/wiki.en.vec
notebooks/.vector_cache/wiki.en.vec.pt
**/__pycache__/**.pyc
